<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${generateConfig.basePackage}.${templateInfo.mapperPackagePath}.${table.className}Mapper">

    <resultMap id="BaseResultMap" type="${generateConfig.basePackage}.${templateInfo.doPackagePath}.${table.className}DO">
        <#list table.columns as column>
        <result column="${column.originName}" property="${column.fieldName}"/>
        </#list>
    </resultMap>

    <sql id="SELECT">
        <#list table.columns as column>
        ${column.originName}<#if (column_has_next)>,</#if>
        </#list>
    </sql>

    <sql id="QUERY_CONDITION">
        <#list table.index as column>
        <#if column.type=="String">
        <if test="null != ${column.fieldName} and '' != ${column.fieldName}">
            AND ${column.originName} = ${r"#{"}${column.fieldName}${r"}"},
        </if>
        <#else>
        <if test="null != ${column.fieldName}">
            AND ${column.originName} = ${r"#{"}${column.fieldName}${r"}"},
        </if>
        </#if>
        </#list>
    </sql>

    <sql id="INSERT_FIELD">
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
            <#if tableConfig.autoGenerate?seq_contains(column.originName)>
            <#else>
            <#if column.type=="String">
            <if test="null != ${column.fieldName} and '' != ${column.fieldName}">
                ${column.originName},
            </if>
            <#else>
            <if test="null != ${column.fieldName}">
                ${column.originName},
            </if>
            </#if>
            </#if>
        </#list>
        </trim>
    </sql>

    <sql id="BATCH_INSERT_FIELD">
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
        <#if tableConfig.autoGenerate?seq_contains(column.originName)>
        <#else>
        ${column.originName},
        </#if>
        </#list>
        </trim>
    </sql>

    <sql id="INSERT_PARAM">
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <#list table.columns as column>
            <#if tableConfig.autoGenerate?seq_contains(column.originName)>
            <#else>
            <#if column.type=="String">
            <if test="null != ${column.fieldName} and '' != ${column.fieldName}">
                ${r"#{"}${column.fieldName}${r"}"},
            </if>
            <#else>
            <if test="null != ${column.fieldName}">
                ${r"#{"}${column.fieldName}${r"}"},
            </if>
            </#if>
            </#if>
            </#list>
        </trim>
    </sql>

    <sql id="BATCH_INSERT_PARAM">
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
        <#if tableConfig.autoGenerate?seq_contains(column.originName)>
        <#else>
        ${r"#{"}item.${column.fieldName}${r"}"},
        </#if>
        </#list>
        </trim>
    </sql>

    <sql id="UPDATE_PARAM">
        <trim suffixOverrides=",">
            <#list table.columns as column>
            <#if column.type=="String">
            <if test="null != ${column.fieldName} and '' != ${column.fieldName}">
                ${column.originName} = ${r"#{"}${column.fieldName}${r"}"},
            </if>
            <#else>
            <if test="null != ${column.fieldName}">
                ${column.originName} = ${r"#{"}${column.fieldName}${r"}"},
            </if>
            </#if>
            </#list>
        </trim>
    </sql>

    <select id="selectOneById" resultMap="BaseResultMap">
        SELECT <include refid="SELECT"/> FROM ${table.originName}
        WHERE id = ${r"#{id}"}
        <#if tableConfig.deleteName??>
        AND ${tableConfig.deleteName} = 0
        </#if>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="SELECT"/> FROM ${table.originName}
        WHERE id IN (
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            ${r"#{id}"}
        </foreach>
        )
        <#if tableConfig.deleteName??>
        AND ${tableConfig.deleteName} = 0
        </#if>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT <include refid="SELECT"/> FROM ${table.originName}
        <where>
            <include refid="QUERY_CONDITION"/>
        </where>
        <#if tableConfig.deleteName??>
        AND ${tableConfig.deleteName} = 0
        </#if>
        <if test="null != orderBy and '' != orderBy">
        ORDER BY ${r"${orderBy}"}
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="${generateConfig.basePackage}.${templateInfo.doPackagePath}.${table.className}DO">
        INSERT INTO ${table.originName}
        <include refid="INSERT_FIELD"/>
        <include refid="INSERT_PARAM"/>
    </insert>

    <insert id="batchInsert" parameterType="${generateConfig.basePackage}.${templateInfo.doPackagePath}.${table.className}DO">
    INSERT INTO ${table.originName}
    <include refid="BATCH_INSERT_FIELD"/>
    values
    <foreach collection="${table.fieldName}s" separator="," item="item">
        <include refid="BATCH_INSERT_PARAM"/>
    </foreach>
    </insert>

    <update id="updateById">
        update ${table.originName}
        <set>
            <include refid="UPDATE_PARAM"/>
        </set>
        <where>
            id = ${r"#{id}"}
        </where>
    </update>
</mapper>